
@import "colors";

header.layout {
  color: white;
  background-color: $secondary-color;
  text-align: center;
  padding: 5px;
  border-bottom: 3px solid darken($primary-color, 15%);
  text-transform: uppercase;
}
aside {
  float: right;
  background-color: lighten($primary-color, 15%);
  width: 200px;
}

footer {
  color: black;
  background-color: $primary-color;
  text-align: center;
  padding: 5px;
  border-bottom: 3px solid darken($primary-color, 15%);
}
